<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>t_name</key>
		<string>10.8M</string>
		<key>t_teacher_age</key>
		<string>189.8万</string>
		<key>t_subject</key>
		<string>天天酷跑</string>
	</dict>
	<dict>
		<key>t_name</key>
		<string>10.8M</string>
		<key>t_teacher_age</key>
		<string>189.8万</string>
		<key>t_subject</key>
		<string>天天酷跑</string>
	</dict>
	<dict>
		<key>t_name</key>
		<string>10.8M</string>
		<key>t_teacher_age</key>
		<string>189.8万</string>
		<key>t_subject</key>
		<string>天天酷跑</string>
	</dict>
	<dict>
		<key>t_name</key>
		<string>10.8M</string>
		<key>t_teacher_age</key>
		<string>189.8万</string>
		<key>t_subject</key>
		<string>天天酷跑</string>
	</dict>
	<dict>
		<key>t_name</key>
		<string>10.8M</string>
		<key>t_teacher_age</key>
		<string>189.8万</string>
		<key>t_subject</key>
		<string>天天酷跑</string>
	</dict>
	<dict>
		<key>t_name</key>
		<string>10.8M</string>
		<key>t_teacher_age</key>
		<string>189.8万</string>
		<key>t_subject</key>
		<string>天天酷跑</string>
	</dict>
	<dict>
		<key>t_name</key>
		<string>10.8M</string>
		<key>t_teacher_age</key>
		<string>189.8万</string>
		<key>t_subject</key>
		<string>天天酷跑</string>
	</dict>
	<dict>
		<key>t_name</key>
		<string>10.8M</string>
		<key>t_teacher_age</key>
		<string>189.8万</string>
		<key>t_subject</key>
		<string>天天酷跑</string>
	</dict>
	<dict>
		<key>t_name</key>
		<string>10.8M</string>
		<key>t_teacher_age</key>
		<string>189.8万</string>
		<key>t_subject</key>
		<string>天天酷跑</string>
	</dict>
	<dict>
		<key>t_name</key>
		<string>10.8M</string>
		<key>t_teacher_age</key>
		<string>189.8万</string>
		<key>t_subject</key>
		<string>天天酷跑</string>
	</dict>
	<dict>
		<key>t_name</key>
		<string>10.8M</string>
		<key>t_teacher_age</key>
		<string>189.8万</string>
		<key>t_subject</key>
		<string>天天酷跑</string>
	</dict>
	<dict>
		<key>t_name</key>
		<string>10.8M</string>
		<key>t_teacher_age</key>
		<string>189.8万</string>
		<key>t_subject</key>
		<string>天天酷跑</string>
	</dict>
	<dict>
		<key>t_name</key>
		<string>10.8M</string>
		<key>t_teacher_age</key>
		<string>189.8万</string>
		<key>t_subject</key>
		<string>天天酷跑</string>
	</dict>
</array>
</plist>
